/hello_world/target
/temp_convert/target
/num_analyze/target
/guess_game/target
/Assignment05/target
/dailywork/target
/rust_struct_testing/target
/bank_account_assignment/target
/error-propagation/target
/dog_api_example/target
/trait_practice/target
/trait_prices/target
/miniproject/target
/closure-class/target
/concurrency1/target
/concurrency2/target
/finalproject/target